<ion-header>
  <ion-toolbar>
<!--
    <ion-button 
   
    color ="primary" 
   
  (click)="regresar()"
    >   <ion-icon name="arrow-dropleft-circle"></ion-icon> </ion-button>
-->

<ion-buttons slot="start">
  <ion-back-button defaultHref="/"></ion-back-button>
</ion-buttons>


  <ion-title>Nuevo punto</ion-title>



   
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="cicloViaFormGroup">





  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LEVANTAMIENTO DE INFORMACIÓN DE CAMPO </ion-title>
    </ion-toolbar>
  </ion-header>

  <form  [formGroup]="cicloViaFormGroup"  >
    <ion-item>
      <ion-label>CICLOVIA:</ion-label>
      <ion-input [(ngModel)]="puntoCicloVia.ciclovia"  formControlName="ciclovia"></ion-input>     
    </ion-item>
   
    <small  *ngIf="cicloViaFormGroup.controls.ciclovia.errors" class="text-danger" >{{cicloViaFormGroup.controls.ciclovia["errorMessage"]}}</small>
    
    <ion-item>
      <ion-label>DISTRITO:</ion-label>
      <ion-input  [(ngModel)]="puntoCicloVia.distrito" formControlName="distrito"></ion-input>    
    </ion-item>
    
    <small *ngIf="cicloViaFormGroup.controls.distrito.errors" class="text-danger">{{cicloViaFormGroup.controls.distrito["errorMessage"]}}</small>
    
    <ion-item>

      <ion-label>TRAMO:</ion-label>


     <!-- <ion-item>
        <ion-label>Port</ion-label>
        <ionic-selectable
          
          [(ngModel)]="port"
          [items]="ports"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="portChange($event)"
          >
        </ionic-selectable>
      </ion-item>
  [items]="ports"
    -->

    <ionic-selectable          
    [(ngModel)]="tramo" 
    [items]="tramos"
          itemValueField="id"
          itemTextField="nombre_via_y_km"
          [canSearch]="true"
          (onChange)="portChange($event)"
          formControlName="tramo" 
          >
          <ng-template ionicSelectableItemTemplate let-tramo="item"> 
            {{ tramo.nombre_via_y_km}}  ( desde: {{tramo.desde}} hasta:  {{tramo.hasta}})
          </ng-template>
        </ionic-selectable>

      <!--<ion-input   [(ngModel)]="puntoCicloVia.tramo" formControlName="tramo" ></ion-input>-->
  
    </ion-item>

    <!--
    <small *ngIf="cicloViaFormGroup.controls.tramo.errors" class="text-danger">{{cicloViaFormGroup.controls.tramo["errorMessage"]}}</small>
    -->

    <ion-item>
      <ion-label>FECHA:</ion-label>
      <ion-datetime  value="{{dateNow}}"  display-timezone="utc" display-format="DD/MM/YYYY" disabled  ></ion-datetime>
   
    </ion-item>


    <ion-item>
      <ion-label>RESPONSABLE:</ion-label>
      <ion-input  [(ngModel)]="puntoCicloVia.usuario"   formControlName="usuario" ></ion-input>
    
    </ion-item>
    <small *ngIf="cicloViaFormGroup.controls.usuario.errors" class="text-danger">{{cicloViaFormGroup.controls.usuario["errorMessage"]}}</small>
    
    <ion-item>
      <ion-label>SECCIÓN VIAL NORMATIVA:</ion-label>
      <ion-input  [(ngModel)]="puntoCicloVia.seccion_vial_normativa"    formControlName="seccion_vial_normativa"  ></ion-input>
    
    </ion-item>
    <small *ngIf="cicloViaFormGroup.controls.seccion_vial_normativa.errors" class="text-danger">{{cicloViaFormGroup.controls.seccion_vial_normativa["errorMessage"]}}</small>
    
    <ion-item>
      <ion-label>SECCIÓN VIAL ACTUAL:</ion-label>

      <ion-input  [(ngModel)]="puntoCicloVia.seccion_vial_actual"   formControlName="seccion_vial_actual"  ></ion-input>
     
    </ion-item>
    <small *ngIf="cicloViaFormGroup.controls.seccion_vial_actual.errors" class="text-danger">{{cicloViaFormGroup.controls.seccion_vial_actual["errorMessage"]}}</small>


    <ion-grid>

      <ion-row>
        <ion-col size="12">
  
          <div> 
            <ion-label>TIPOLOGIA: </ion-label>
          </div>
        </ion-col>
  
        <ion-col size="12">
  
          <div> 
  
            <ion-item>
              <ion-label>ELEGIR: </ion-label>
              <ion-select [(ngModel)]="puntoCicloVia.tipo"  formControlName="tipo" >
                <ion-select-option *ngFor="let item of tiposVia"  value="{{item.value}}" >
                  {{ item.text}}
                </ion-select-option>
              </ion-select>
          
            </ion-item>
          
            <small *ngIf="cicloViaFormGroup.controls.tipo.errors" class="text-danger">{{cicloViaFormGroup.controls.tipo["errorMessage"]}}</small>
          </div>
        </ion-col>
  
  
        <ion-col size="12">
  
          <div>     
            <ion-item>
      
              <ion-label>ANCHO: </ion-label>
              <ion-input type="number"   [(ngModel)]="puntoCicloVia.tipo_ancho"  formControlName="tipo_ancho"  >
             
              </ion-input>
            
          </ion-item>
          <small *ngIf="cicloViaFormGroup.controls.tipo_ancho.errors" class="text-danger">{{cicloViaFormGroup.controls.tipo_ancho["errorMessage"]}}</small>
        </div>
        </ion-col>
  
      </ion-row>


      <ion-row>
        <ion-col size="12">

          <div> 
            <ion-label>ELEMENTO SEGREGADOR : </ion-label>
          </div>
        </ion-col>
        
        <ion-col size="12">

          <div>     
            <ion-item>

            <ion-label>TIPO : </ion-label>
            <ion-select [(ngModel)]="puntoCicloVia.ele_seg_tipo"  formControlName="ele_seg_tipo"  >
              <ion-select-option *ngFor="let item of tiposSegregador" value="{{item.value}}" >
                {{ item.text}}
              </ion-select-option>
            </ion-select>
            

          </ion-item>
          <small *ngIf="cicloViaFormGroup.controls.ele_seg_tipo.errors" class="text-danger">{{cicloViaFormGroup.controls.ele_seg_tipo["errorMessage"]}}</small>
        </div>
        </ion-col>

        <ion-col size="12">

          <div>     
            <ion-item>

            <ion-label>ESTADO : </ion-label>
            <ion-select [(ngModel)]="puntoCicloVia.ele_seg_estado"  formControlName="ele_seg_estado" >
              <ion-select-option *ngFor="let item of estadoSegregador" value="{{item.value}}" >
                {{ item.text}}
              </ion-select-option>
            
            </ion-select>

        
          </ion-item>
          <small *ngIf="cicloViaFormGroup.controls.ele_seg_estado.errors" class="text-danger">{{cicloViaFormGroup.controls.ele_seg_estado["errorMessage"]}}</small>
        </div>
        </ion-col>

      </ion-row>


      <ion-row>

        <ion-col size="12">

          <div> 
            <ion-label>SEÑALIZACIÓN VERTICAL : </ion-label>
          </div>
        </ion-col>
        
        <ion-col size="12">

          <div>     
            <ion-item>

            <ion-label>TIPO : </ion-label>
            <ion-select [(ngModel)]="puntoCicloVia.ele_senial_ver_tipo"  formControlName="ele_senial_ver_tipo" >
              <ion-select-option *ngFor="let item of tiposSeVer" value="{{item.value}}" >
                {{ item.text}}
              </ion-select-option>
            </ion-select>
        
          </ion-item>
          <small *ngIf="cicloViaFormGroup.controls.ele_senial_ver_tipo.errors" class="text-danger">{{cicloViaFormGroup.controls.ele_senial_ver_tipo["errorMessage"]}}</small>
        </div>
        </ion-col>

        <ion-col size="12">

          <div>     
            <ion-item>

            <ion-label>ESTADO : </ion-label>
            <ion-select [(ngModel)]="puntoCicloVia.ele_senial_ver_estado"  formControlName="ele_senial_ver_estado" >
              <ion-select-option *ngFor="let item of estadoSeVer" value="{{item.value}}" >
                {{ item.text}}
              </ion-select-option>
            </ion-select>
          

          </ion-item>
          <small *ngIf="cicloViaFormGroup.controls.ele_senial_ver_estado.errors" class="text-danger">{{cicloViaFormGroup.controls.ele_senial_ver_estado["errorMessage"]}}</small>
        </div>
        </ion-col>

      </ion-row>


      <ion-row>
        <ion-col size="12">

          <div> 
            <ion-label>SEÑALIZACIÓN HORIZONTAL : </ion-label>
          </div>
        </ion-col>
        
        <ion-col size="12">

          <div>     
            <ion-item>

            <ion-label>TIPO : </ion-label>
            <ion-select  [(ngModel)]="puntoCicloVia.ele_senial_hor_tipo"   formControlName="ele_senial_hor_tipo" >
              <ion-select-option *ngFor="let item of tiposSeHor" value="{{item.value}}" >
                {{ item.text}}
              </ion-select-option>
            </ion-select>
          


          </ion-item>

          <small *ngIf="cicloViaFormGroup.controls.ele_senial_hor_tipo.errors" class="text-danger">{{cicloViaFormGroup.controls.ele_senial_hor_tipo["errorMessage"]}}</small>
        </div>
        </ion-col>

        <ion-col size="12">

          <div>     
            <ion-item>

            <ion-label>VALOR : </ion-label>
            <ion-input type="number"   [(ngModel)]="puntoCicloVia.ele_senial_hor_valor"  formControlName="ele_senial_hor_valor" >
            </ion-input>
          
          </ion-item>
          <small *ngIf="cicloViaFormGroup.controls.ele_senial_hor_valor.errors" class="text-danger">{{cicloViaFormGroup.controls.ele_senial_hor_valor["errorMessage"]}}</small>
        </div>
        </ion-col>

      </ion-row>


      <ion-row>
        <ion-col size="12">

          <div> 
            <ion-label>SUPERFICIE DE RODADURA : </ion-label>
          </div>
        </ion-col>
        
        
        <ion-col size="12">

          <div>     
            <ion-item>

            <ion-label>TIPO : </ion-label>
            <ion-select [(ngModel)]="puntoCicloVia.supe_rodadura_tipo"   formControlName="supe_rodadura_tipo" >
              <ion-select-option *ngFor="let item of tiposSuRod" value="{{item.value}}" >
                {{ item.text}}
              </ion-select-option>
            </ion-select>


    
          </ion-item>
          <small *ngIf="cicloViaFormGroup.controls.supe_rodadura_tipo.errors" class="text-danger">{{cicloViaFormGroup.controls.supe_rodadura_tipo["errorMessage"]}}</small>
        </div>
        </ion-col>

        <ion-col size="12">

          <div>     
            <ion-item>

            <ion-label>VALOR : </ion-label>
            <ion-input type="number" [(ngModel)]="puntoCicloVia.supe_rodadura_valor" formControlName="supe_rodadura_valor" >
            </ion-input>

        
          </ion-item>
          <small *ngIf="cicloViaFormGroup.controls.supe_rodadura_valor.errors" class="text-danger">{{cicloViaFormGroup.controls.supe_rodadura_valor["errorMessage"]}}</small>
        </div>
        </ion-col>

      </ion-row>


    </ion-grid>

 


    <ion-button expand ="full" 
    shape="round"  
    color ="primary" 
   
  (click)="guardar()"
    > Guardar</ion-button>

  </form>
</ion-content>


<ion-fab  vertical="top" horizontal="end" >
     
  <ion-fab-button  color="primary" (click)="pageScroller()">
    <ion-icon name="arrow-up"></ion-icon></ion-fab-button>
</ion-fab>
